@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

 /* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #1c1b22;
    --background-end-rgb: #1c1b22;
  }
} */
/*
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

body{
  color: white;
  background-color: #1c1b22;
}
input:-internal-autofill-selected  {
  background-color: red !important;
}

.block{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40% ;
}
@keyframes appear {
  from{
    opacity: 0;
    clip-path: inset(100% 100% 0 0);
  }
  to{
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}